<header [ngClass]="['header', 'flex justify-center items-center']">
  <nav class="w-full flex justify-between items-center">
    <img
      src="../../assets/logo.svg"
      alt="HooBank logo"
      class="w-[124px] h-[32px]"
    />
    <button class="sm:hidden" type="button" (click)="setToggle()">
      <img
        class="w-[28px] h-[28px] object-contain"
        src="{{
          this.toggle ? '../../assets/close.svg' : '../../assets/menu.svg'
        }}"
        alt="toggle"
      />
    </button>
    <ul
      ng-init="navLinks"
      [ngClass]="[
        'flex gap-5 nav-bar',
        'max-sm:absolute max-sm:flex-col bg-black-gradient',

        toggle
          ? 'max-sm:flex sidebar max-sm:top-28 max-sm:right-8 max-sm:py-5 max-sm:px-10 max-sm:rounded-xl'
          : 'max-sm:hidden'
      ]"
    >
      <li *ngFor="let item of navLinks">
        <a
          class="nav-link text-dimWhite hover:text-white  {{
            (hash == '' && item.id == 'home') || hash == '#' + item.id
              ? 'active'
              : ''
          }}"
          href="#{{ item.id }}"
          (click)="setActive($event)"
        >
          {{ item.title }}
        </a>
      </li>
    </ul>
  </nav>
</header>
