<section
  ng-init="footer"
  class="flex flex-col justify-center items-center sm:py-16 py-6"
>
  <div class="flex justify-center items-start md:flex-row flex-col mb-8 w-full">
    <div class="flex-[1] flex flex-col justify-start mr-10">
      <img
        src="/assets/icons/logo.svg"
        alt="logo HooBank"
        class="w-[266px] h-[72.14px] object-contain"
      />
      <p
        class="font-poppins font-normal text-dimWhite text-[18px] leading-[30.8px] mt-4 max-w-[312px]"
      >
        A new way to make the payments easy, reliable and secure.
      </p>
    </div>
    <div
      class="flex-[1.5] w-full flex flex-row justify-between flex-wrap md:mt-0 mt-10"
    >
      <div
        *ngFor="let item of footer"
        class="flex flex-col ss:my-0 my-4 min-w-[150px]"
      >
        <h4
          class="font-poppins font-medium text-[18px] leading-[27px] text-white"
        >
          {{ item.title }}
        </h4>
        <ul *ngFor="let link of item.links" class="list-none mt-4">
          <li
            class="font-poppins font-normal text-[16px] leading-[24px] text-dimWhite hover:text-secondary cursor-pointer mb-4"
          >
            {{ link.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="w-full flex justify-between items-center md:flex-row flex-col pt-6 border-t-[1px] border-t-[#3F3E45]"
  >
    <p
      class="font-poppins font-normal text-center text-[18px] leading-[27px] text-white"
    >
      Copyright Ⓒ 2023 HooBank. All Rights Reserved By
      <a
        href="https://github.com/MasterCodeDevelop"
        target="_blank"
        rel="noopener noreferrer"
        >MASTER</a
      >.
    </p>

    <div ng-init="socialsMedia" class="flex flex-row md:mt-0 mt-6">
      <a
        *ngFor="let item of socialsMedia"
        href="{{ item.link }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          class="w-[21px] h-[21px] object-contain mr-6"
          src="{{ '/assets/icons/' + item.icon }}"
          alt="{{ item.icon }}"
        />
      </a>
    </div>
  </div>
</section>
