<article class="card flex flex-row p-6 rounded-[20px] feature-card">
  <div
    class="flex justify-center items-center w-[64px] h-[64px] rounded-full bg-dimBlue"
  >
    <img
      src="{{ '/assets/icons/' + dataList.icon }}"
      alt="star"
      class="w-[50%] h-[50%] object-contain"
    />
  </div>
  <div class="flex-1 flex flex-col ml-3">
    <h4
      class="font-poppins font-semibold text-white text-[18px] leading-[23.4px] mb-1"
    >
      {{ dataList.title }}
    </h4>
    <p
      class="font-poppins font-normal text-dimWhite text-[16px] leading-[24px]"
    >
      {{ dataList.content }}
    </p>
  </div>
</article>
