<section
  id="features"
  [ngClass]="['flex', 'flex-col py-6', 'md:flex-row sm:py-16']"
>
  <div class="flex flex-1 flex-col justify-center items-start font-poppins">
    <h2
      [ngClass]="[
        'font-semibold text-white w-full',
        'text-[40px] leading-[66.8px]',
        'xs:text-[48px] xs:leading-[76.8px]'
      ]"
    >
      You do the business, <br class="sm:block hidden" />
      we’ll handle the money.
    </h2>
    <p
      class="font-normal text-dimWhite text-[18px] leading-[30.8px] max-w-[470px] mt-5"
    >
      With the right credit card, you can improve your financial life by
      building credit, earning rewards and saving money. But with hundreds of
      credit cards on the market.
    </p>
    <span>app-button</span>
  </div>

  <div class="flex flex-1 flex-col justify-center items-start">app-card</div>
</section>
