<body
  [ngClass]="[
    'relative z-0 w-full bg-primary min-h-screen text-white flex flex-col items-center overflow-hidden',
    'px-8 py-5 gap-5',
    'sm:px-16 sm:py-10 sm:gap-7'
  ]"
>
  <main class="xl:max-w-[1280px] flex flex-col gap-8">
    <app-header></app-header>
    <app-home></app-home>
    <app-stats></app-stats>
    <app-features></app-features>
    <app-product></app-product>
    <app-card-deal></app-card-deal>
    <app-testimonials></app-testimonials>
    <app-clients></app-clients>
    <app-get-service></app-get-service>
    <app-footer></app-footer>
  </main>
</body>
