<section id="card-deal" class="flex md:flex-row flex-col sm:my-16 my-6">
  <div class="flex flex-1 flex-col justify-center items-center">
    <h2
      class="font-poppins font-semibold xs:text-[48px] text-[40px] text-white xs:leading-[76.8px] leading-[66.8px] w-full"
    >
      Find a better card deal <br class="sm:block hidden" />
      in few easy steps.
    </h2>
    <p
      class="font-poppins font-normal text-dimWhite text-[18px] leading-[30.8px] max-w-[470px] mt-5"
    >
      Arcu tortor, purus in mattis at sed integer faucibus. Aliquet quis aliquet
      eget mauris tortor.ç Aliquet ultrices ac, ametau.
    </p>

    <app-button label="Get Started"></app-button>
  </div>

  <div
    class="relative flex flex-1 justify-center items-center md:ml-10 ml-0 md:mt-0 mt-10"
  >
    <img src="../../assets/card.png" alt="billing" class="w-[100%] h-[100%]" />
  </div>
</section>
